<?php
/**
 * The development database settings. These get merged with the global settings.
 */

return array(
  'default' => array(
    'type' => 'mysqli',
    'connection'  => array(
      'hostname' => 'localhost',
      'port' => '3306',
      'database' => 'fuel_dev',
      'username'   => 'root',
  //  'password'   => 'root',
      'charset'    => 'utf8',
    ),
    'table_prefix'     => '',
  ),

);
